In [ ]:
# Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the gender
of an individual and the level of education that they have obtained?

Null Hpothesis: Gender and Education Level are independent

In [1]:
import pandas as pd
import numpy as np

ds= pd.DataFrame({'Index':['High_School' , 'Bachelors', 'Masters', 'Ph.d.' ,'Total'],
                   'Male':[40, 44, 53, 57 ,194], 
                   'Female':[60, 54, 46, 41, 201], 
                   'Total':[100, 98, 99, 98, 395]})

In [64]:
ds

         Index  Female  Male  Total
0  High_School      60    40    100
1    Bachelors      54    44     98
2      Masters      46    53     99
3        Ph.d.      41    57     98
4        Total     201   194    395

In [2]:
from scipy import stats
from scipy.stats import chisquare

In [21]:
#Calculating the Expected Values = (row total*col total)/sample size

Female=[60, 54, 46, 41] 
Male=[40, 44, 53, 57]
Expectedf=[50.886, 49.868, 50.337, 49.868]
Exptectedm=[49.114, 48.132, 48.623, 48.132]

In [ ]:
chi-square=(60-50.886)^2/50.886 +(54-49.868)^2/49.868 + (46-50.337)^2/50.337+(41-49.868)^2/49.868+\
(40-49.114)^2/49.114 + (44-48.132)^2/48.132 +(53-48.623)^2/48.623+(57-48.132)^2/48.132
= 8.006

In [ ]:
Chi static 8.006 > 7.815

In [ ]:
Conclusion: We reject Null hypothesis, level of education and gender are dependent